APP_NAME=GauthierFitness
APP_ENV=local
APP_KEY=base64:YsmR527+X0G3ZKridBk0lq/RCt9Z8oxhPoZpG8XjXXE=
APP_URL=http://127.0.0.1:8000
FRONTEND_URL=http://localhost:5173
FILESYSTEM_DISK=public
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
APP_DEBUG=true

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=gauthier_fitness
DB_USERNAME=charlesgauthier
DB_PASSWORD="Bordeaux2025@"

CACHE_STORE=database
QUEUE_CONNECTION=database

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=***
MAIL_PASSWORD=***
MAIL_ENCRYPTION=tls
MAIL_FROM_NAME="Gauthier Fitness"
MAIL_FROM_ADDRESS=charles.gauthier99@gmail.com
MAIL_SUPPORT_ADDRESS=gauthierfitness.help@gmail.com

SANCTUM_STATEFUL_DOMAINS=
SESSION_DOMAIN

VITE_APP_NAME="${APP_NAME}"

STRIPE_SECRET=sk_test_****
STRIPE_WEBHOOK_SECRET=whsec_****
STRIPE_PUBLIC_KEY=pk_test_****
